*.a
*.aux
*.bbl
*.blg
*.dvi
*.idx
*.log
*.o
*.pdf
*.ps
*.pyc
*.so
*.toc
*.trs
*swp
*~
*_test
.*
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
debug/bin
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
mira/kbest_mirav5
mira/mr_mira_reduce
missing
mteval/meteor_jar.cc
release/bin
stamp-h1
utils/phmt
utils/ts
